# EmailJS configuration for the Contact form
VITE_EMAILJS_SERVICE_ID=service_luknsgi
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_PUBLIC_KEY=

# Gemini configuration (Used in vite.config.ts)
GEMINI_API_KEY=
